* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn { 
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  text-size-adjust: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}

#article {
  background-color: lightgray;
  text-align: left;
  font-size: 20pt;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  width: 80%;
  border: 5px solid mediumpurple;
  border-radius: 25px;
}