.dropbtn {
	background-color: #04AA6D;
	color:  white;
	padding: 16px;
	font-size: 16px;
	border: none;
	width: 150px;
}

.maindropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	width: 100%;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	display:  block;
	color:  #000000;
	padding:  20px;
	text-decoration: none;
}
.dropdown-content a:hover {
	color: #FFFFFF;
	background-color: #00A4BD;
}

.maindropdown:hover .dropdown-content {display: block;}
.maindropdown:hover .dropbtn {background-color: #3e8e41;}
