/*general stuff*/
header {
	text-align: center;
	background: mediumpurple;
	color: white;
	font-size: 10px;
	width: 100%;
	position: fixed;
}
html {
	position: relative;
}
body {
	margin: 0;
	padding: 0;
	position: relative;
}

body {
	background-color: lightgray;
	position: relative;
	width: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: mediumpurple;
  text-align: center;
  clear: both;
  font-size: 16pt;
  padding-top: 20px;
  margin-top: 20px;
}
h1 {
	text-align: center;
	background-color: lightsteelblue;
	margin: 0;
	padding: 0;
	width: 100%;
	clear: both;
	padding-bottom: 10px;
	padding-top: 10px;
	height: 30px;
}
h2 {
	text-align: center;
	background-color: lightgray;
	width: 100%;
	text-align: center;
	clear: both;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
ul {
	list-style: none;
}
iframe {
	width: 64%;
	height: 700px;
	border: 5px solid black;
	margin-left: 18%;
	margin-right: 18%;
}



/* for the horizontal nav buttons */
nav {
	list-style-type: none;
	padding-left: 0px;
	background-color: mediumpurple;
	text-align: center;
	font-size: 17pt;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: baseline;
}
nav > ul, .submenu {
	list-style-type: none;
	text-align: center;
}
nav > ul > li {
	display: inline-block;
	padding: 10px 20px;
	position: relative;
	text-align: center;
	width: 200px;
}
nav > ul > li:hover {
	background-color: black;
	border-radius: 3px;
	transition: background 300ms linear; /*delete to remove delayed black background*/
}
nav > ul > li > a {
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	width: 200px;
}
nav > ul > li > a > span {
	font-weight: bold;
	font-size: 25px;
	position: relative;
}
nav > ul > li:hover .submenu {
	display: block;
	opacity: 1;/*delete with below sections noted lines*/
	width: 200px;
}

/* submenu styles */
ul.submenu {
	position:  absolute; top: 43px; left: 0px;
	background-color: black;
	display: block; opacity: 0; /*delete this and following line and change display to none. this creates a gradient appearing eff for the dropdown*/
	transition: opacity 300ms linear; /*delete with above line*/
	border-radius: 3px;
}
ul.submenu li {
	padding: 10px 0px;
	width: 160px;
}
ul.submenu a {
	padding: 10px 0px;
}
ul.submenu > span {
	position: absolute; top: 0px; left: 0px;
	font-size: 30px; color: black;
}

/*end horizontal nav coding*/


table {
	table-layout: fixed;
	width: 90%;
	padding: 50px, 20px;
	position: center;
	margin-left: auto;
	margin-right: auto;
	background-color: whitesmoke;
}
table, td, th, tr {
	border-collapse: collapse;
	border: 3px solid black;
}
tr {
	line-height: 30px;
}
th, td {
	width: 20%;
	text-align: center;
}
p {
	padding-left: 10px;
	padding-right: 10px;
}

.tableheader {
	background-color: lightskyblue;
}
#page_description {
	background-color: lightgray;
	text-align: center;
	font-size: 16pt;
	margin-bottom: 20px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	width: 50%;
	border: 5px solid mediumpurple;
	border-radius: 25px;
}
#general {
	background-color: lightgray;
	text-align: center;
	font-size: 16pt;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	width: 70%;
	border: 5px solid mediumpurple;
	border-radius: 25px;
}
/*home page*/


/*How to Play page info*/

/*Events Page info*/
.flex-upcomingevents-element {
	display: flex;
	width: 100%;
}
.flex-announcement-element {
	display: flex;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 16pt;
}
.flex-childevents-element {
	flex: 1;
	border:  5px solid mediumpurple;
	border-radius: 25px;
	margin-right: 5%;
	margin-left: 5%;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: lightgray;
	font-size: 16pt;
}
.flex-childevents-element:first-child {
	margin-right: 20px;
}

#TournamentRules, #tournamentfaq {
	width: 90%;
	border: 5px solid mediumpurple;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-radius: 25px;
	background-color: lightgray;
	font-size: 16pt;
	padding-bottom: 20px;
	padding-top: 20px;
}
.TournamentRules p {
	padding-left: 5px;
	padding-right: 5px;
}

.column {
	float: left;
	width: 50%;
	text-align: center;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}

/*Resources Page info*/


/*nav bar css*/
.navbar {
  overflow: hidden;
  background-color: #mediumpurple;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: lightgray;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {display: block;
}
.dropdown:hover .dropbtn {background-color: lightgray;}

.show {
  display: block;
}
